<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>PathLens {% block title %}{% endblock %}</title>

    <!-- Bootstrap Integration -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
</head>

<body>
    <!-- Header -->
    <header>

    </header>

    <!-- Main content -->
    <main>
        {% block main %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>